  <%- include('../partials/header') %>
      <h2>Davante Adams</h2>
    <p><img class ="pic"src="images/DAdams.gif" /></p>
    <p>My second favorite football player is the best wide receiver, Davante Adams!</p>
  <%- include('../partials/footer') %>