  <%- include('../partials/header') %>
      <h2>Jaire Alexander</h2>
    <p><img class ="pic"src="images/JAlexander.gif" /></p>
    <p>My fourth favorite football player is standout cornerback Jaire Alexander!</p>
  <%- include('../partials/footer') %>