  <%- include('../partials/header') %>
      <h2>Templating With EJS</h2>
    <p><img class ="pic"src="images/logo.gif" /></p>
    <p>This webpage was built using Node.js, using Express and EJS as templates.</p>
    <p>There will be four different links that you can go into and you will find out my favorite football players! Also, guess what my favorite football team is for extra points!</p>
  <%- include('../partials/footer') %>