  <%- include('../partials/header') %>
      <h2>Aaron Rodgers</h2>
    <p><img class ="pic"src="images/AaronRodgers.gif" /></p>
    <p>My first favorite football player is the back to back MVP, Aaron Rogers!</p>
  <%- include('../partials/footer') %>